<div class="scill-profile-button-container" *ngIf="battlePassInfo$ | async as battlePassInfo">
  <div class="scill-profile-button-name" [style.background-color]="buttonBackground">
    <h3>{{username}}</h3>
    <scill-progress-bar
      border-radius="0 0 0px 6px"
      padding="0"
      height="5px"
      transform="none"
      [progress]="battlePassInfo.levelProgress"
      [fill-background]="progressFill"
      background="transparent"
      class="scill-progress-bar"
    >
    </scill-progress-bar>
  </div>
  <div class="scill-profile-button-score">
    {{battlePassInfo.levelStats}}
  </div>
  <div class="scill-profile-ranking" [style.background-image]="'url(' + avatarUrl + ')'" [style.border-color]="buttonBackground">
    <div class="scill-profile-ranking-level" [style.background-color]="progressFill" [style.border-color]="buttonBackground">
      {{battlePassInfo.currentLevel}}
    </div>
  </div>
</div>
<div class="scill-personal-challenges-list" *ngIf="personalChallengesInfo$ | async as personalChallengesInfo">
  <div class="scill-category" *ngFor="let category of personalChallengesInfo.categories" attr.data-category-id="{{category.category_id}}">
    <h2 class="scill-category-header scill-color-primary">
      {{category.category_name}}
    </h2>
    <div class="scill-challenges-list">
      <div class="scill-personal-challenges-list-item" *ngFor="let challenge of category.challenges; let i = index;" attr.data-challenge-id="{{challenge.challenge_id}}" attr.data-challenge-type="{{challenge.type}}">
        <div class="scill-personal-challenge">
          <img *ngIf="challenge.challenge_icon && challenge.challenge_icon.substr(0,4) === 'http'" class="scill-personal-challenge-image" src="{{challenge.challenge_icon}}">
          <div class="scill-personal-challenge-info">
            <h3 class="scill-personal-challenge-name"> {{challenge.challenge_name}} <span class="scill-personal-challenge-xp">{{challenge.challenge_xp}}</span></h3>
            <p *ngIf="challenge.type == 'in-progress'" class="scill-personal-challenge-time-remaining">
              <span *ngIf="challenge.type === 'in-progress' && challenge.challenge_duration_time >=0 "><span class="scill-personal-challenge-time-remaining-label">Time remaining: </span><app-time-remaining class="scill-personal-challenge-time-remaining-counter" [challenge]="challenge"></app-time-remaining></span>
            </p>
            <div class="scill-personal-challenges-progress" *ngIf="challenge.type === 'in-progress'">
              <div class="scill-progress-bar-background">
                <div class="scill-progress-bar-fill" style.width="{{challenge | progress}}%"></div>
              </div>
              <span class="scill-personal-challenges-progress-goal">{{challenge.user_challenge_current_score}}/{{challenge.challenge_goal}}</span>
            </div>
          </div>
          <div class="scill-personal-challenge-actions">

          </div>
        </div>
        <div class="scill-divider"></div>
      </div>
    </div>
  </div>
</div>
