<div class="battle-pass-mini-status" *ngIf="(battlePass$ | async) as battlePass">
  <div class="battle-pass-levels" *ngFor="let level of levels; let i=index; trackBy: levelById">
    <ng-container *ngIf="level.activated_at !== null && level.level_completed === false">
      <div class="battle-pass-level">
        <div class="battle-pass-level-reward">
          <span class="battle-pass-level-name">Level {{level.level_priority}}</span>
        </div>
        <div class="battle-pass-level-content">
          <div class="battle-pass-level-challenges">
            <div class="battle-pass-level-challenge" *ngFor="let challenge of level.challenges; trackBy: challengeById">
              <div *ngIf="level.activated_at !== null" class="battle-pass-level-challenge-progress">
                <div class="battle-pass-level-challenge-progress-bar-background">
                  <div class="battle-pass-level-challenge-progress-bar-fill" style.width="{{challenge | progress}}%"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
