<div class="popover-preview-container"
     [ngStyle]="{
        'font-family': mainFont
     }"
>
    <div class="sc-d-flex">
        <button (click)="toggleSection('isPopoverPreviewVisible')" class="popover-preview-btn" [ngStyle]="{'background': btnBackground}">
            <div>
                <span *ngIf="username">{{username}}</span>
                <span *ngIf="!username">#{{userId}}</span>
                <!--{{battlePass.battle_pass_name}}-->
            </div>
            <div>
                <div class="btn-battlepass-lvl"  *ngIf="(battlePass$ | async) as battlePass">
                    <div *ngFor="let lvl of levels">
                        <div *ngIf="lvl.activated_at !== null && !lvl.level_completed">
                            {{lvl.level_priority}}
                        </div>
                    </div>
                    <div *ngIf="battlePass.unlocked_at === null" [ngStyle]="{'stroke': btnLevelColor}">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             aria-hidden="true"
                             focusable="false"
                             width="1em"
                             height="1em"
                             style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"
                             preserveAspectRatio="xMidYMid meet"
                             viewBox="0 0 512 512">
                            <path d="M336 208v-95a80 80 0 0 0-160 0v95"
                                  fill="none"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  stroke-width="32"></path>
                            <rect x="96" y="208" width="320" height="272" rx="48" ry="48" fill="none"
                                  stroke-linecap="round" stroke-linejoin="round" stroke-width="32"></rect>
                        </svg>

                    </div>
                </div>
            </div>
        </button>
    </div>
        <div class="popover-preview" [hidden]="!isPopoverPreviewVisible"
             [ngStyle]="{
         'top':offsetTop > 0 && convertToPxl(offsetTop),
         'right':offsetRight > 0 && convertToPxl(offsetRight),
         'bottom':offsetBottom > 0 && convertToPxl(offsetBottom),
         'left': offsetLeft > 0 && convertToPxl(offsetLeft)}"
        >
            <scill-popover-preview-header [username]="username"
                                          [access-token]="accessToken"
                                          [app-id]="appId"
                                          [api-key]="apiKey"
                                          [user-id]="userId"
                                          [battle-pass-id]="battlePassId"
                                          [header-background]="headerBackground"
                                          [header-notch-absolute-right]="headerNotchAbsoluteRight"
                                          [header-text-color]="headerTextColor"
                                          [header-bp-lvl-color]="headerBpLvlColor"
                                          [header-progress-bar-background]="headerProgressBarBackground"
                                          [header-progress-bar-fill-background]="headerProgressBarFillBackground"
                                          [unlock-battle-pass-btn-background]="unlockBattlePassBtnBackground"
                                          [unlock-battle-pass-btn-text-color]="unlockBattlePassBtnTextColor"
            >
            </scill-popover-preview-header>

          <!-- Include any outside content -->
          <ng-content></ng-content>

            <div class="popover-preview-sections-container">
                <scill-popover-preview-bp-section  [app-id]="appId"
                                                   [api-key]="apiKey"
                                                   [user-id]="userId"
                                                   [battle-pass-id]="battlePassId"
                                                   [access-token]="accessToken"
                                                   [battle-pass-finished-type-bg-color]="battlePassFinishedTypeBgColor"
                                                   [battle-pass-in-progress-type-bg-color]="battlePassInProgressTypeBgColor"
                                                   [battle-pass-type-border-color]="battlePassTypeBorderColor"
                                                   [battle-pass-type-icon-color]="battlePassTypeIconColor"
                                                   [battle-pass-title-color]="battlePassTitleColor"
                                                   [battle-pass-lvl-progress-bar-background]="battlePassLvlProgressBarBackground"
                                                   [battle-pass-lvl-progress-bar-fill-background]="battlePassLvlProgressBarFillBackground"
                                                   [battle-pass-challenge-progress-background]="battlePassChallengeProgressBackground"
                                                   [battle-pass-challenge-progress-fill-background]="battlePassChallengeProgressFillBackground"
                                                   [battle-pass-challenge-background]="battlePassChallengeBackground"
                >
                </scill-popover-preview-bp-section>

                <scill-popover-preview-section *ngFor="let category of categories;"
                                               [title]="category.category_name"
                                               [challenges]="category.challenges"
                                               [category]="category"
                                               [app-id]="appId"
                                               [access-token]="accessToken"
                                               [personal-challenges-category-title-color]="personalChallengesCategoryTitleColor"
                                               [personal-challenges-category-progress-bar-background]="personalChallengesCategoryProgressBarBackground"
                                               [personal-challenges-category-progress-bar-fill-background]="personalChallengesCategoryProgressBarFillBackground"
                                               [personal-challenges-background]="personalChallengesBackground"
                                               [personal-challenges-progress-background]="personalChallengesProgressBackground"
                                               [personal-challenges-progress-fill-background]="personalChallengesProgressFillBackground"
                                               [personal-challenges-in-progress-type-bg-color]="personalChallengesInProgressTypeBgColor"
                                               [personal-challenges-finished-type-bg-color]="personalChallengesFinishedTypeBgColor"
                                               [personal-challenges-type-border-color]="personalChallengesTypeBorderColor"
                                               [personal-challenges-type-icon-color]="personalChallengesTypeIconColor"
                                               [button-background]="buttonBackground"
                                               [button-text-color]=buttonTextColor
                >
                </scill-popover-preview-section>
            </div>

        </div>
</div>
