<div class="popover-preview-container">
    <div class="d-flex justify-content-end">
        <button (click)="toggleSection('isPopoverPreviewVisible')" class="popover-preview-btn">
            {{username}}
            <div class="btn-battlepass-lvl">
                3
            </div>
        </button>
    </div>
    <div class="popover-preview" *ngIf="isPopoverPreviewVisible ">
        <div class="popover-preview-header">
            <div class="header-triangle"></div>
            <div class="d-flex justify-content-between align-items-center">
                <div class="user">{{username}}</div>
                <div class="d-flex align-items-center">
                    <div class="lvl-badge">
                        <img src="../../assets/images/badges/badge_rare_gempost_big.png" alt="">
                    </div>
                    <div class="battlepass-lvl">3</div>
                </div>
            </div>
            <div class="progress">
                <div>2/12</div>
                <scill-progress-bar background="#fff" fill-background="#009BED" [progress]="2/12"></scill-progress-bar>
            </div>
        </div>

        <!--<scill-popover-preview-section title="Battlepass"></scill-popover-preview-section>-->
            <scill-popover-preview-section *ngFor="let category of categories;"
                                           [title]="category.category_name"
                                           [challenges]="category.challenges"
                                           [category]="category"
                                           state-in-progress-color="#00f"
                                           state-finished-color="#5FB44B"
                                           state-border-color="gold"
                                           state-icon-color="gold"
            >
            </scill-popover-preview-section>
    </div>
</div>
