$gold: #F5A622;

.popover-preview-container{
  position:relative;
  width:126px;
  .popover-preview-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:28px;
    width:126px;
    margin-bottom:22px;
    background: transparent linear-gradient(180deg, #0AE3ED 0%, #009BED 100%) 0% 0% no-repeat padding-box;
    border-radius: 5px;
    border:0;
    color:#fff;
    cursor:pointer;
    &:focus{
      outline: 0;
      border:0;
    }
    .btn-battlepass-lvl{
      display:flex;
      justify-content: center;
      align-items:center;
      color: goldenrod;
      width:26px;
      height:26px;
      border-radius:50%;
      border:4px solid $gold;
      font-size:14px;
      background: #fff;
    }
  }
  .popover-preview-overflow-helper {
    height: 730px;
    background: #fff;
    min-width: 300px;
    max-width: 350px;
    position: absolute;
    z-index: auto;
    .popover-preview {
      min-width: 300px;
      max-width: 350px;
      padding-bottom: 15px;
      position: absolute;
      width: 100%;
      background: #fff;
      color: #fff;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      overflow-y: hidden;
      overflow-x: hidden;
      overflow: scroll;
      height: 700px;
      .popover-preview-header {
        position: relative;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 20px 10px;
        background: transparent linear-gradient(180deg, #0AE3ED 0%, #009BED 100%) 0% 0% no-repeat padding-box;
        padding-bottom: 15px;
        .header-triangle {
          width: 23px;
          height: 23px;
          transform: rotate(45deg);
          background: #08E0EC;
          position: absolute;
          top: -11px;
          right: 15px;
        }
        .user {
          font-family: Helvetica, Sans-serif;
          font-weight: 600;
          font-size: 27px;
        }
        .lvl-badge {
          margin-right: 15px;
          img {
            width: 54px;
            //height:54px;
          }
        }
        .battlepass-lvl {
          display: flex;
          width: 44px;
          height: 44px;
          justify-content: center;
          align-items: center;
          color: goldenrod;
          border-radius: 50%;
          border: 4px solid $gold;
          font-size: 23px;
          background: #fff;
        }
      }
    }
  }
  .scill-progress{
    padding-left:10px; padding-right:10px;
    padding-top:15px;
  }
  .battlepass{
    //margin-top:30px;
    padding:20px 10px;
    //background:#fff;
  }
}

