<div class="popover-preview-container">
    <div class="sc-d-flex sc-justify-content-end">
        <button (click)="toggleSection('isPopoverPreviewVisible')" class="popover-preview-btn">
            {{username}}
            <div class="btn-battlepass-lvl">
                3
            </div>
        </button>
    </div>
    <div class="popover-preview" *ngIf="isPopoverPreviewVisible ">
            <scill-popover-preview-header username="franjoeric"
                                          access-token="my-access-token"
                                          [app-id]="appId"
                                          [api-key]="apiKey"
                                          [user-id]="userId"
                                          [battle-pass-id]="battlePassId">
            </scill-popover-preview-header>

        <scill-popover-preview-bp-section  [type-in-progress-color]="typeInProgressColor"
                                           [type-finished-color]="typeFinishedColor"
                                           [type-border-color]="typeBorderColor"
                                           [type-icon-color]="typeIconColor"
                                           [app-id]="appId"
                                           [api-key]="apiKey"
                                           [user-id]="userId"
                                           [battle-pass-id]="battlePassId"
            >
            </scill-popover-preview-bp-section>

            <scill-popover-preview-section *ngFor="let category of categories;"
                                           [title]="category.category_name"
                                           [challenges]="category.challenges"
                                           [category]="category"
                                           [app-id]="appId"
                                           [type-in-progress-color]="typeInProgressColor"
                                           [type-finished-color]="typeFinishedColor"
                                           [type-border-color]="typeBorderColor"
                                           [type-icon-color]="typeIconColor"
            >
            </scill-popover-preview-section>

    </div>
</div>
