$gold: #F5A622;

.popover-preview-container{
  min-width:300px;
  max-width:350px;
  .popover-preview-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:28px;
    width:126px;
    margin-bottom:22px;
    background: transparent linear-gradient(180deg, #0AE3ED 0%, #009BED 100%) 0% 0% no-repeat padding-box;
    border-radius: 5px;
    border:0;
    color:#fff;
    cursor:pointer;
    &:focus{
      outline: 0;
      border:0;
    }
    .btn-user-lvl{
      display:flex;
      justify-content: center;
      align-items:center;
      color: goldenrod;
      width:26px;
      height:26px;
      border-radius:50%;
      border:4px solid $gold;
      font-size:14px;
      background: #fff;
    }
  }
    .popover-preview{
      background: #fff;
      color:#fff;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      .popover-preview-header{
        position: relative;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding:20px 10px;
        background:transparent linear-gradient(180deg, #0AE3ED 0%, #009BED 100%) 0% 0% no-repeat padding-box;
        .header-triangle{
          width:23px;
          height:23px;
          transform:rotate(45deg);
          background:#08E0EC;
          position:absolute;
          top:-11px;
          right:15px;
        }
        .user{
          font-family:Helvetica, Sans-serif;
          font-size:27px;
        }
        .lvl-badge{
          margin-right:15px;
          img{
            width: 54px;
            //height:54px;
          }
        }
        .user-lvl{
          display:flex;
          width:44px;
          height:44px;
          justify-content: center;
          align-items:center;
          color: goldenrod;
          border-radius:50%;
          border:4px solid $gold;
          font-size:23px;
          background: #fff;
        }
      }
    }
  .progress{
    padding:0 10px;
  }
  .battlepass{
    //margin-top:30px;
    padding:20px 10px;
    //background:#fff;
  }
}

