.task-container{
  //display:flex;
  //flex-direction: column;
  //justify-content: space-between;
  //min-height:65px;
  position: relative;
  color:#fff;
  margin:15px 0px;
  border-radius:6px;
  background:#1D4913;
  .sc-badge{
    img{
      width:26px;
      height:29px;
      padding:8px 10px;
      margin-right:10px;
    }
  }
  .task-type{
    position:absolute;
    top:-8px;
    right:-9px;
    width:20px;
    height:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    border:3px solid #1D4913;
    background:#5FB44B;
    stroke:#1D4913;
  }
  .task-info-container{
    width:100%;
    padding-right:15px;
    .task-title{
      font-size:12px;
      color:#fff;
    }
    .task-description{
      color:#C3C3C3;
      font-size:12px;
    }
    .task-current-score{
      color:#C3C3C3;
      font-size:12px;
    }
    .task-xp-progress{
      color:#C3C3C3;
      font-size:12px;
    }
    .action-button button{
      margin:5px 0;
      padding:2px 8px;
      border:0;
      border-radius:5px;
      font-size:12px;
    }
  }
}