<div class="task-container" [ngStyle]="{'background':background}">
    <div class="sc-d-flex sc-align-items-center">
        <div class="task-state" [ngStyle]="{
        'background':task.state === 'finished' ? stateFinishedColor : stateInProgressColor,
        'border-color':stateBorderColor,
        'color':stateIconColor
        }">
            <fa-icon [icon]="faCheck"></fa-icon>
        </div>
        <div class="sc-badge">
            <img [src]="task.challenge_icon" alt="">
        </div>
        <div class="task-info-container">
            <div class="task-title"> {{task.challenge_name}} </div>
            <div class="task-description">{{task.challenge_description }} {{task.state}}</div>
            <div class="task-current-score">{{task.user_challenge_current_score}}/{{task.challenge_goal}}</div>
        </div>
    </div>
    <scill-progress-bar
            border-radius="0 0 0px 6px"
            padding="0"
            transform="skewY(0deg)"
            [progress]="task.user_challenge_current_score/task.challenge_goal"
            [fill-background]="progressFill"
            [background]="progressBackground"
            [task-state]="task.state"
    >
    </scill-progress-bar>
</div>