<div class="task-container" [ngStyle]="{'background':background}">
    <div class="sc-d-flex sc-align-items-center">
        <div class="task-type" [ngStyle]="{
            'background':task.type === 'finished' ? typeFinishedColor : typeInProgressColor,
            'border-color':typeBorderColor,
            'color':typeIconColor
        }">
            <div [ngStyle]="{'stroke': typeIconColor}">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                     aria-hidden="true"
                     focusable="false"
                     width="1em"
                     height="1em"
                     style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"
                     preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512">
                    <path fill="none" stroke-linecap="square" stroke-miterlimit="10" stroke-width="44" d="M416 128L192 384l-96-96"/>
                </svg>
            </div>
        </div>
        <div class="sc-badge">
            <img [src]="task.challenge_icon" alt="">
        </div>
        <div class="task-info-container">
            <div class="task-title"> {{task.challenge_name}} </div>
            <div class="task-description">{{task.challenge_description }}</div>
            <div class="task-current-score">{{task.user_challenge_current_score}}/{{task.challenge_goal}}</div>
        </div>
    </div>
    <scill-progress-bar
            border-radius="0 0 0px 6px"
            padding="0"
            transform="skewY(0deg)"
            [progress]="progressPercentage"
            [fill-background]="progressFill"
            [background]="progressBackground"
            [task-type]="task.type"
    >
    </scill-progress-bar>
</div>