<div class="notification" *ngIf="notification$ | async as notification">
  <p class="message">{{notification.message}}</p>
  <scill-progress-bar *ngIf="notification.challenge"
                      class="progress-bar"
                      background="black"
                      fill-background="red"
                      height="20"
                      [progress]="notification.challenge | progress">
  </scill-progress-bar>
  <button (click)="closeNotification()">Close</button>
</div>
<div class="image-area" #imageArea></div>
