<div class="popover-preview-header" *ngIf="(battlePassInfo$ | async) as battlePassInfo"
     [ngStyle]="{
     'background': headerBackground,
     'color': headerTextColor,
     'borderWidth': borderWidth + 'px',
     'borderColor': borderColor
     }"
>
    <div  *ngFor="let level of battlePassInfo.levels; let i=index; trackBy: levelById">
        <div  *ngIf="level.activated_at !== null && level.level_completed === false" [hidden]="!battlePassInfo.battlePass.unlocked_at">
            <div class="header-triangle"
                 [ngStyle]="{
                 'borderBottomColor': headerBackground,
                 'right':headerNotchAbsoluteRight + 'px',
                 'top': (-12 - borderWidth) + 'px'}"></div>
            <div class="sc-d-flex sc-justify-content-between sc-align-items-center">
                <div class="user" *ngIf="username">{{username}}</div>
                <div class="user" *ngIf="!username">#{{userId}}</div>
                <div class="sc-d-flex sc-align-items-center">
                    <div class="lvl-badge">

                    </div>
                    <div class="battlepass-lvl"
                         [ngStyle]="{
                            'color':headerBpLvlColor,
                            'border-color':headerBpLvlColor
                         }">
                        {{level.level_priority}}
                    </div>
                </div>
            </div>
            <div class="battle-pass-stats">
              <scill-progress-bar
                [background]="headerProgressBarBackground" [fill-background]="headerProgressBarFillBackground"
                [progress]="battlePassInfo.progress"></scill-progress-bar>
              <div>{{battlePassInfo.currentLevel}}/{{battlePassInfo.levels.length}}</div>
            </div>
        </div>
    </div>
    <div [hidden]="battlePassInfo.battlePass.unlocked_at">
        <div class="header-triangle" [ngStyle]="{'right':headerNotchAbsoluteRight + 'px', 'top': (-14 - borderWidth) + 'px', 'borderBottomColor': borderColor}">
          <div class="header-triangle-inner" [ngStyle]="{'top': borderWidth + 'px', 'borderBottomColor': headerBackground}"></div>
        </div>
        <div class="sc-d-flex sc-justify-content-between sc-align-items-center">
            <div class="user" *ngIf="username">{{username}}</div>
            <div class="user" *ngIf="!username">#{{userId}}</div>
            <div class="sc-d-flex sc-align-items-center">
                <div class="lvl-badge">

                </div>
                <div class="battlepass-lvl"
                     [ngStyle]="{
                        'color':headerBpLvlColor, 'stroke': headerBpLvlColor,
                        'border-color':headerBpLvlColor
                     }">
                    <scill-locked-icon></scill-locked-icon>
                </div>
            </div>
        </div>
        <div>
            <!--{{calculateCompletedLevels(levels)}}/{{levels.length}}-->
            <!--<scill-progress-bar-->
                    <!--[background]="headerProgressBarBackground" [fill-background]="headerProgressBarFillBackground"-->
                    <!--progress="0%">-->
            <!--</scill-progress-bar>-->
            <div class="unlocked-bp-name" [ngStyle]="{'color': headerTextColor}">
                {{battlePassInfo.battlePass.battle_pass_name}} {{'battle_pass_locked' | getTranslation: language}}

            </div>
            <div>
                <button (click)="unlockBattlePass(battlePassInfo.battlePass)"
                        class="scill-profile-button"
                        [ngStyle]="{
                        'background': unlockBattlePassBtnBackground,
                        'border-color': unlockBattlePassBtnBackground,
                        'color': unlockBattlePassBtnTextColor
                        }"
                >
                    {{'unlock' | getTranslation:language}}
                </button>
            </div>
        </div>
    </div>
</div>
