$primary: #51b6c8;

$backgroundColor: white;
$borderColor: gray;
$border: 1px solid $borderColor;
$borderRadius: 5px;
$invertedBackgroundColor: lightgray;
$font: Helvetica, Sans-serif;
$padding: 5px;
$progressBarBackgroundColor: black;
$progressBarFillColor: $primary;
$textColor: black;
$textMutedColor: gray;

.personal-challenges-progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  clear: both;
}

.personal-challenges-progress-bar-background {
  height: 5px;
  width: 100%;
  background-color: $progressBarBackgroundColor;
}

.personal-challenges-progress-bar-fill {
  height: 5px;
  background-color: $progressBarFillColor;
}

.personal-challenges-progress-goal {
  padding-left: 5px;
}

.personal-challenge-image {
  width: 64px;
}

.personal-challenges-list {
  background-color: $backgroundColor;
  border-radius: $borderRadius;
  border: $border;
  font-family: $font;
  color: $textColor;

  .divider {
    height: 1px;
    width: 100%;
    background-color: $borderColor;
  }

  .personal-challenges {

  }

  .category {

  }

  .category-header {
    padding: $padding;
    margin: 0px;
    background-color: $invertedBackgroundColor;
  }

  .challenges-list {
    padding: $padding;
  }

  .personal-challenges-list-item .divider {
    margin-left: -$padding;
    margin-right: -$padding;
    width: calc(100% + #{$padding * 2});
  }

  .personal-challenges-list-item:last-child .divider {
    display: none;
  }

  .personal-challenges-list-item .personal-challenge {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .personal-challenges-list-item .personal-challenge-info {
    width: 100%;
  }

  .personal-challenges-list-item .personal-challenge-name {
    margin: 0px;
    float: left;
    padding-right: 10px;
  }

  .personal-challenges-list-item .personal-challenge-time-remaining {
    margin: 0px;
    line-height: 24px;
    font-size: smaller;
    color: $textMutedColor;
  }

  .personal-challenges-list-item .personal-challenge-actions {
    padding-left: 10px;
  }

  .personal-challenge-xp {
    color: $primary;
    font-size: smaller;
  }

  .personal-challenge-xp:after {
    content: ' XP';
  }

}


.personal-challenges-grid {

  .challenges-list {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
  }

  .personal-challenge {
    display: block;
  }

  .personal-challenges-list-item {
    border: 1px solid gray;
    padding: 30px 10px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    background-size: cover;
  }

  .personal-challenge-name {
    float: none;
  }

  .personal-challenge-name.finished {
    text-decoration: line-through;
  }

  .personal-challenges-list-item[data-challenge-type='in-progress'] .personal-challenge-actions {
    display: none;
  }

  .personal-challenge-reward {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: black;
    font-size: smaller;
  }

  .personal-challenge-xp {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: $primary;
    font-size: smaller;
  }

  .personal-challenge-xp:after {
    content: 'XP';
  }

  .personal-challenge-actions {
    padding-left: 0px;
    padding-top: 10px;
  }

  .personal-challenges-progress-goal {
    font-size: smaller;
    color: black;
  }

  .personal-challenge-time-remaining {
    color: #555;
  }

  .personal-challenge-name {
    color: $primary;
  }

  .personal-challenges-progress-bar-fill {
    background-color: $primary;
  }

  button {
    border-radius: 5px;
    border: 1px solid $primary;
    background-color: $primary;
    padding: 7px 14px;
    color: white;
    cursor: pointer;
  }

  button:hover {
    border: 1px solid $primary;
    background-color: white;
    padding: 7px 14px;
    color: $primary;
  }
}
