$primary: #51b6c8;
$backgroundColor: white;
$borderColor: gray;
$border: 1px solid $borderColor;
$borderRadius: 5px;
$invertedBackgroundColor: lightgray;
$font: Helvetica, Sans-serif;
$padding: 5px;
$progressBarBackgroundColor: black;
$progressBarFillColor: $primary;
$textColor: black;
$textMutedColor: gray;

.scill-community-challenge-progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  clear: both;
}

.personal-challenges-progress-goal {
  padding-left: 5px;
}

.scill-community-challenge-image {
  width: 64px;
}

.scill-community-challenge {
  border: 1px solid gray;
  padding: 30px 10px;
  border-radius: 10px;
  background-color: white;
  position: relative;
  background-size: cover;
}

.scill-community-challenge-name {
  float: none;
  margin-top: 0px;
}

.scill-community-challenge-name.finished {
  text-decoration: line-through;
}

.scill-community-challenge[data-challenge-type='in-progress'] .scill-community-challenge-actions {
  display: none;
}

.scill-community-challenge-reward {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: $primary;
  font-size: smaller;
}

.scill-community-challenge-xp {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: $primary;
  font-size: smaller;
}

.scill-community-challenge-xp:after {
  content: 'XP';
}

.scill-community-challenge-actions {
  padding-left: 0px;
  padding-top: 10px;
}

.scill-community-challenge-progress {
  margin-bottom: 10px;
}

.scill-community-challenge-progress-goal {
  font-size: smaller;
  color: black;
}

.scill-community-challenge-time-remaining {
  color: #555;
}

.scill-community-challenge-name {
  color: $primary;
}

