<div class="scill-community-challenge" *ngIf="challenge" attr.data-challenge-id="{{challenge.challenge_id}}" attr.data-challenge-type="{{challenge.type}}" [style.background-image]="challenge.challenge_icon_hd ? 'url(' + challenge.challenge_icon_hd + ')': 'none'">
  <img *ngIf="challenge.challenge_icon && challenge.challenge_icon.substr(0,4) === 'http'" class="scill-community-challenge-image" src="{{challenge.challenge_icon}}">
  <div class="scill-community-challenge-info">
    <h3 class="scill-community-challenge-name" [class.finished]="challenge.type === 'finished'"> {{challenge.challenge_name}}</h3>
    <p *ngIf="challenge.type == 'in-progress'" class="scill-community-challenge-time-remaining">
      <span *ngIf="challenge.type === 'in-progress'"><span class="scill-community-challenge-time-remaining-label">Time remaining: </span><app-time-remaining class="scill-community-challenge-time-remaining-counter" [challenge]="challenge" [style.color]="textColor"></app-time-remaining></span>
    </p>
    <div class="scill-community-challenge-progress" *ngIf="challenge.type === 'in-progress'">
      <div class="scill-progress-bar-background">
        <div class="scill-progress-bar-fill" style.width="{{challenge | progress}}%"></div>
      </div>
      <span class="scill-community-challenge-progress-goal">{{challenge.user_challenge_current_score}}/{{challenge.challenge_goal}}</span>
    </div>
  </div>
  <div class="scill-community-challenge-actions">
    <button class="scill-button" *ngIf="challenge.type === 'unlocked'" (click)="activateChallenge(challenge)"><span translate>Activate</span></button>
    <button class="scill-button" *ngIf="challenge.type === 'unlock'" (click)="unlockChallenge(challenge)"><span translate>Unlock</span></button>
    <button class="scill-button" *ngIf="challenge.type === 'unclaimed'" (click)="claimChallenge(challenge)"><span translate>Claim your reward</span></button>
  </div>
  <div *ngIf="challenge.challenge_xp" class="scill-community-challenge-xp">
    {{challenge.challenge_xp}}
  </div>
  <div *ngIf="challenge.challenge_reward && challenge.challenge_reward_type !== 'Nothing'" class="scill-community-challenge-reward">
    {{challenge.challenge_reward}}
  </div>
</div>
