.challenge-teaser {
  border: 1px solid gray;
  padding: 10px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  gap: 10px;
}

.challenge-teaser-image {
  height: 36px;
}

.challenge-teaser-name {
  margin: 0px;
}

.challenge-teaser-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.challenge-teaser-checkbox {
  width: 16px;
  height: 16px;
  border: 2px solid black;
  border-radius: 2px;
}
