<ng-container *ngIf="personalChallengesInfo$ | async as personalChallengesInfo">
  <div class="challenge-teaser" *ngIf="personalChallengesInfo.challenge && personalChallengesInfo.challenge.type !== 'finished'">
    <img *ngIf="personalChallengesInfo.challenge.challenge_icon && personalChallengesInfo.challenge.challenge_icon.substr(0,4) === 'http'" class="challenge-image" src="{{personalChallengesInfo.challenge.challenge_icon}}">
    <div class="challenge-teaser-details">
      <h3 class="challenge-teaser-name">{{personalChallengesInfo.challenge.challenge_name}}</h3>
        <div class="challenge-teaser-checkbox"></div>
    </div>
  </div>
</ng-container>
