@import '~@angular/cdk/overlay-prebuilt.css';

/* You can add global styles to this file, and also import other style files */
$primary: #51b6c8;
$accent: #B49FD4;

$backgroundColor: white;
$borderColor: gray;
$border: 1px solid $borderColor;
$borderRadius: 5px;
$invertedBackgroundColor: lightgray;
$font: Helvetica, Sans-serif;
$padding: 5px;
$progressBarBackgroundColor: black;
$progressBarFillColor: $primary;
$textColor: black;
$textMutedColor: gray;

.pointer{
  cursor:pointer;
}

.scill-progress-bar-background {
  height: 5px;
  width: 100%;
  background-color: $progressBarBackgroundColor;
}

.scill-progress-bar-fill {
  height: 5px;
  background-color: $progressBarFillColor;
}

.scill-button {
  border-radius: 5px;
  border: 1px solid $primary;
  background-color: $primary;
  padding: 7px 14px;
  color: white;
  cursor: pointer;
}

.scill-button:hover {
  border: 1px solid $primary;
  background-color: white;
  padding: 7px 14px;
  color: $primary;
}

.scill-color-accent {
  color: $accent;
}

.scill-background-color-accent {
  background-color: $accent;
}

.scill-color-primary {
  color: $primary;
}

.scill-background-color-primary {
  background-color: $primary;
}

.scill-text-color {
  color: $textColor;
}


// flexbox global rules
.sc-d-flex{
  display:flex;
}
.sc-flex-column{
  flex-direction: column;
}
.sc-justify-content-center{
  justify-content: center;
}
.sc-justify-content-between{
  justify-content:space-between;
}
.sc-justify-content-end{
  justify-content: flex-end;
}
.sc-align-items-center{
  align-items:center;
}

main section {
  margin-left: 100px;
  margin-right: 100px;
}

.scill-overlay-backdrop {
  background-color: rgba(0,0,0,0.7);
  z-index: 1003;
}
