/* You can add global styles to this file, and also import other style files */
$primary: #51b6c8;
$accent: #B49FD4;

$backgroundColor: white;
$borderColor: gray;
$border: 1px solid $borderColor;
$borderRadius: 5px;
$invertedBackgroundColor: lightgray;
$font: Helvetica, Sans-serif;
$padding: 5px;
$progressBarBackgroundColor: black;
$progressBarFillColor: $primary;
$textColor: black;
$textMutedColor: gray;

.scill-progress-bar-background {
  height: 5px;
  width: 100%;
  background-color: $progressBarBackgroundColor;
}

.scill-progress-bar-fill {
  height: 5px;
  background-color: $progressBarFillColor;
}

.scill-button {
  border-radius: 5px;
  border: 1px solid $primary;
  background-color: $primary;
  padding: 7px 14px;
  color: white;
  cursor: pointer;
}

.scill-button:hover {
  border: 1px solid $primary;
  background-color: white;
  padding: 7px 14px;
  color: $primary;
}

.scill-color-accent {
  color: $accent;
}

.scill-background-color-accent {
  background-color: $accent;
}

.scill-color-primary {
  color: $primary;
}

.scill-background-color-primary {
  background-color: $primary;
}

.scill-text-color {
  color: $textColor;
}


