/* You can add global styles to this file, and also import other style files */
$primary: #51b6c8;
$accent: #B49FD4;

$backgroundColor: white;
$borderColor: gray;
$border: 1px solid $borderColor;
$borderRadius: 5px;
$invertedBackgroundColor: lightgray;
$font: Helvetica, Sans-serif;
$padding: 5px;
$progressBarBackgroundColor: black;
$progressBarFillColor: $primary;
$textColor: black;
$textMutedColor: gray;
