<div class="popover-preview-section" *ngIf="(battlePassInfo$ | async) as battlePassInfo">

    <div class="scill-progress" *ngIf="battlePassInfo.battlePass.unlocked_at !== null">
        <div class="sc-d-flex sc-justify-content-between pointer" (click)="toggleSection('isExpanded')">
            <div class="battle-pass-title" [ngStyle]="{'color': battlePassTitleColor}">
                {{battlePassInfo.battlePass.battle_pass_name}}
                <span *ngFor="let level of battlePassInfo.levels; trackBy: levelById">
                    <span *ngIf="level.activated_at !== null && !level.level_completed">
                        <span>{{calculateCompletedChallenges(level.challenges)}}/ {{level.challenges.length}}</span>
                    </span>
                </span>
            </div>
            <div [ngStyle]="{'fill': battlePassTitleColor}">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" *ngIf="!isExpanded"
                     aria-hidden="true"
                     focusable="false"
                     width="1em"
                     height="1em"
                     style="-ms-transform: rotate(90deg); -webkit-transform: rotate(90deg); transform: rotate(90deg);"
                     preserveAspectRatio="xMidYMid meet"
                     viewBox="0 0 512 512">
                    <path d="M256 294.1L383 167c9.4-9.4 24.6-9.4 33.9 0s9.3 24.6 0 34L273 345c-9.1 9.1-23.7 9.3-33.1.7L95 201.1c-4.7-4.7-7-10.9-7-17s2.3-12.3 7-17c9.4-9.4 24.6-9.4 33.9 0l127.1 127z"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" *ngIf="isExpanded"
                     aria-hidden="true"
                     focusable="false"
                     width="1em"
                     height="1em"
                     preserveAspectRatio="xMidYMid meet"
                     viewBox="0 0 512 512">
                    <path d="M256 294.1L383 167c9.4-9.4 24.6-9.4 33.9 0s9.3 24.6 0 34L273 345c-9.1 9.1-23.7 9.3-33.1.7L95 201.1c-4.7-4.7-7-10.9-7-17s2.3-12.3 7-17c9.4-9.4 24.6-9.4 33.9 0l127.1 127z"/>
                </svg>
            </div>
        </div>
        <div *ngFor="let level of battlePassInfo.levels; trackBy: levelById">
            <div *ngIf="level.activated_at !== null && !level.level_completed">
                <scill-progress-bar [background]="battlePassLvlProgressBarBackground"
                                    [fill-background]="battlePassLvlProgressBarFillBackground"
                                    [progress]="battlePassInfo.levelProgress">
                </scill-progress-bar>
            </div>
        </div>


        <div *ngIf="isExpanded">
            <div *ngFor="let level of battlePassInfo.levels; trackBy: levelById">
                <div *ngIf="level.activated_at !== null && !level.level_completed">
                    <div *ngFor="let challenge of level.challenges; trackBy: challengeById">
                         <scill-task-item *ngIf="challenge.type !== 'unlock'"
                                         [task]="challenge"
                                         [background]="battlePassChallengeBackground"
                                         [progress-fill]="battlePassChallengeProgressFillBackground"
                                         [progress-background]="battlePassChallengeProgressBackground"
                                         [progress-percentage]="challenge.user_challenge_current_score / challenge.challenge_goal * 100"
                                         [type-finished-color]="battlePassFinishedTypeBgColor"
                                         [type-border-color]="battlePassTypeBorderColor"
                                         [type-icon-color]="battlePassTypeIconColor"
                                         [personal-challenge]="false"
                                         [text-color]="textColor"
                        >
                        </scill-task-item>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
