<div class="popover-preview-section" *ngIf="(battlePass$ | async) as battlePass">

    <div class="scill-progress" style="color:#5FB44B;">
        <div class="sc-d-flex sc-justify-content-between pointer" (click)="toggleSection('isExpanded')">
            <div>
                {{battlePass.battle_pass_name}}
                <span *ngFor="let level of levels">
                    <span *ngIf="level.activated_at !== null && !level.level_completed">
                        <span>{{calculateCompletedChallenges(level.challenges)}}/ {{level.challenges.length}}</span>
                    </span>
                </span>
            </div>
            <div>
                <fa-icon [icon]="faCaretLeft" *ngIf="!true"></fa-icon>
                <fa-icon [icon]="faCaretDown" *ngIf="true"></fa-icon>
            </div>
        </div>
        <!-- Finished challenges does not exist in CategoryChallenge interface and throwing error -->
        <!-- Once this missing field is resolved switch [proggress] attribute with next line-->
        <!--[progress]="category.finishedChallenges/category.challenges.length"-->
        <div *ngFor="let level of levels">
            <div *ngIf="level.activated_at !== null && !level.level_completed">
                <scill-progress-bar background="#1D4913"
                                    fill-background="#00f"
                                    [progress]="calculateCompletedChallenges(level.challenges) / level.challenges.length | percent">
                </scill-progress-bar>
            </div>
        </div>


        <div *ngIf="isExpanded">
            <div *ngFor="let level of levels">
                <div *ngIf="level.activated_at !== null && !level.level_completed">
                    <div *ngFor="let challenge of level.challenges">
                         <scill-task-item *ngIf="challenge.type !== 'unlock'"
                                         [task]="challenge"
                                         background="#1D4913"
                                         progress-fill="#5FB44B"
                                         progress-background="#1D4913"
                                         badge="badge-path"
                                         [progress-percentage]="challenge.user_challenge_current_score / challenge.challenge_goal | percent"
                                         [type-in-progress-color]="typeInProgressColor"
                                         [type-finished-color]="typeFinishedColor"
                                         [type-border-color]="typeBorderColor"
                                         [type-icon-color]="typeIconColor"
                        >
                        </scill-task-item>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>