<ng-container *ngIf="personalChallengesInfo$ | async as personalChallengesInfo">
<scill-progress-bar *ngIf="personalChallengesInfo.challenge"
                    class="progress-bar"
                    [background]="progressBackground"
                    [fill-background]="progressFillBackground"
                    [height]="height + 'px'"
                    [border-radius]="borderRadius + 'px'"
                    [progress]="personalChallengesInfo.challenge | progress"></scill-progress-bar>
</ng-container>
