.scill-challenge-progress {
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
}

.scill-challenge-progress-title{
  text-align:center;
  font-size:28px;
  margin-bottom:60px;
  margin-top:48px;
}

.progress-bar {
  width: 100%;
}
