<div class="popover-preview-section" >

    <div class="scill-progress" style="color:#5FB44B;">
        <div class="sc-d-flex sc-justify-content-between pointer" (click)="toggleSection('isExpanded')">
            <div>
                {{popoverPreviewSectionTitle}}
                {{calculateCompletedChallenges(category.challenges)}} / {{category.challenges.length}}
            </div>
            <div>
                <fa-icon [icon]="faCaretLeft" *ngIf="!isExpanded"></fa-icon>
                <fa-icon [icon]="faCaretDown" *ngIf="isExpanded"></fa-icon>
            </div>
        </div>
        <scill-progress-bar background="#1D4913"
                            fill-background="#5FB44B"
                            [progress]="calculateCompletedChallenges(category.challenges)/category.challenges.length | percent"
        >
        </scill-progress-bar>


        <div *ngIf="isExpanded">
            <scill-task-item *ngFor="let challenge of challenges;"
                             [task]="challenge"
                             background="#1D4913"
                             progress-fill="#5FB44B"
                             [progress-percentage]="challenge.user_challenge_current_score/challenge.challenge_goal | percent"
                             progress-background="#1D4913"
                             badge="badge-path"
                             [type-in-progress-color]="typeInProgressColor"
                             [type-finished-color]="typeFinishedColor"
                             [type-border-color]="typeBorderColor"
                             [type-icon-color]="typeIconColor"
            >
            </scill-task-item>`
        </div>
    </div>
</div>
