<div class="popover-preview-section" >
    <div class="progress" style="color:#5FB44B;">
        <div class="d-flex justify-content-between pointer" (click)="toggleSection('isCollapsed')">
            <div>
                {{popoverPreviewSectionTitle}}
                <!--{{category.finishedChallenges}} / {{category.challenges.length}}-->
            </div>
            <div> > </div>
        </div>
        <!-- Finished challenges does not exist in CategoryChallenge interface and throwing error -->
        <!-- Once this missing field is resolved switch [proggress] attribute with next line-->
        <!--[progress]="category.finishedChallenges/category.challenges.length"-->
        <scill-progress-bar background="#1D4913"
                            fill-background="#5FB44B"
                            [progress]="1/category.challenges.length">
        </scill-progress-bar>
        <div *ngIf="isCollapsed">
            <scill-task-item *ngFor="let challenge of challenges;"
                             [task]="challenge"
                             background="#1D4913"
                             progress-fill="#5FB44B"
                             progress-background="#1D4913"
                             badge="badge-path"
                             [state-in-progress-color]="stateInProgressColor"
                             [state-finished-color]="stateFinishedColor"
                             [state-border-color]="stateBorderColor"
                             [state-icon-color]="stateIconColor"
            >
            </scill-task-item>`
        </div>
    </div>
</div>
